Scripts/ShowLicense.unity
Scripts/ShowLicense.cs.meta
Scripts/ShowLicense.unity.meta
Scripts/FaceTracker/FaceTracker.cs.meta
Scripts/FaceTracker/FaceDetector.cs.meta
Scripts/FaceTracker/FaceTrackerParams.cs.meta
Scripts/FaceTracker/MiniJSON.cs.meta
Scripts/FaceTracker/PatchModel.cs.meta
Scripts/FaceTracker/PatchModels.cs.meta
Scripts/FaceTracker/ShapeModel.cs.meta
Scripts/Resources/family.png
Scripts/Resources/family.png.meta
Scripts/Resources/LoadingIcon.png
Scripts/Resources/LoadingIcon.png.meta
Scripts/WebCamTextureFaceTrackerExample/quad_material.mat
Scripts/WebCamTextureFaceTrackerExample/quad_material.mat.meta
Scripts/WebCamTextureFaceTrackerExample/WebCamTextureFaceTrackerExample.cs.meta
Scripts/WebCamTextureFaceTrackerExample/WebCamTextureFaceTrackerExample.unity
Scripts/WebCamTextureFaceTrackerExample/WebCamTextureFaceTrackerExample.unity.meta
Scripts/FaceTracker.meta
Scripts/FaceTrackerExample.cs.meta
Scripts/FaceTrackerExample.unity
Scripts/FaceTrackerExample.unity.meta
Scripts/Resources.meta
Scripts/WebCamTextureFaceTrackerExample.meta
Scripts/ShowLicense.cs
./shape_predictor_68_face_landmarks.dat
./shape_predictor_194_face_landmarks.dat
./keras_contrib
./light_shinkai_ckpt
shape_predictor_68_face_landmarks.dat
shape_predictor_194_face_landmarks.dat
topwears.h5
output/cheek_colored2.0.png
output/CheekLayer.png
output/eye2.0.png
output/eyebrow.png
output/eyebrow2.0.png
output/eyeshadow2.0.png
output/face_line_img2.0.png
output/left_eyes_brow_img2.0.png
output/left_eyes_img2.0.png
output/lip_layer.png
output/mouse2.0.png
output/nose_img2.0.png
output/right_eyes_brow_img2.0.png
output/right_eyes_img2.0.png
output/TestPic.png
Resources/bandicam 2020-07-28 17-32-48-473_Trim.mp4
output/cheek_colored2.0.png
output/CheekLayer.png
output/eye2.0.png
output/eyebrow.png
output/eyebrow2.0.png
output/eyeshadow2.0.png
output/face_line_img2.0.png
output/left_eyes_brow_img2.0.png
output/left_eyes_img2.0.png
output/lip_layer.png
output/mouse2.0.png
output/nose_img2.0.png
output/right_eyes_brow_img2.0.png
output/right_eyes_img2.0.png
mobile_net_model/frozen_inference_graph.pb
mobile_net_model/model.ckpt-30000.data-00000-of-00001
mobile_net_model/model.ckpt-30000.index
xception_model/frozen_inference_graph.pb
xception_model/model.ckpt.data-00000-of-00001
xception_model/model.ckpt.index
hairnet_matting.hdf5
model/mask_rcnn_hair_0027.h5
model/mask_rcnn_hair_0060.h5
model/mask_rcnn_hair_0061.h5
model/mask_rcnn_hair_0140.h5
model/mask_rcnn_hair_0145.h5
model/mask_rcnn_hair_0200.h5
mrcnn/__pycache__/__init__.cpython-37.pyc
mrcnn/__pycache__/config.cpython-37.pyc
mrcnn/__pycache__/model.cpython-37.pyc
mrcnn/__pycache__/utils.cpython-37.pyc
mrcnn/__pycache__/visualize.cpython-37.pyc
